<form (ngSubmit)="onSubmit()" #form>
    <app-control label="Title">
        <input name="title" id="title" #input [(ngModel)]="enteredTitle" /><!-- #titleIput is an Angular template variable, an alternative way of extracting values besides using [(ngModel)]-->
    </app-control>
    <app-control label="Request">
        <textarea name="request" id="request" rows="3" #input [(ngModel)]="enteredText"></textarea>
    </app-control>
    <p>
        <button appButton>
            Submit
            <span ngProjectAs="icon">&#10137;</span> <!-- Ref: https://www.toptal.com/designers/htmlarrows/arrows/heavy-right-arrow/ -->
        </button>
    </p>
</form>
